:root {
  --primary-background: #FDFBF9;
  --secondary-background: #3a4439;
  --highlight: #7D8E78;
  --primary-text: #2d2d2d;
  --secondary-text: #fdfbf9;
  --accent: #D66853;
  --footer-link: #a8b2a6;
}

body {
  background: var(--primary-background);
  color: var(--primary-text);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1.5em;
}
