/* HEADER CSS */
.header__content {
  display: flex;
  justify-content: space-between;
  padding-block: 2em;
}

.header__list {
  display: flex;
  gap: 30px;
}

.header__link {
  color: var(--primary-text);
  padding-block: 0.6em;
  position: relative;
}

.header__link::before {
  background: var(--highlight);
  bottom: 0;
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 0%;
  transition: width 0.5s ease;
}

.header__link:hover::before {
  width: 100%;
}

/* HERO CSS */
.hero {
  margin-block: 80px 50px;
}

.hero__content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.hero__eyebrow {
  color: var(--highlight);
}

.hero__title {
  font-size: 2.5rem;
  max-width: 30ch;
  margin-block: 0.2em 0.5em;
}

.hero__description {
  max-width: 55ch;
  margin-block-end: 2em;
}

.hero__button {
  background: var(--accent);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 1em 2em;
  text-transform: uppercase;
}

.hero__image {
  border-radius: 4px;
}
