* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

button {
  border: transparent;
  outline-color: transparent;
}